* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B
}

.main{
  width: 100%;
  background-color: #fff;
  display: flex;

}

.main-box{
  width: 300px;
  background-position: center;
  margin: 50px 30px 50px 30px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}

.number{
  background-color: #FF9A4B;
  color: #fff;
  position:absolute;
  top: 0;
  left:0;

}

.main-text{
  background-color: #EEEEEE
}

.title{
  margin: 15px 0px 5px;
}

.main-image1{
  background-image:url(img/flow01.png);
  height:150px;
  background-position: center;
  background-size: 100% 100%;
  /*background-size: cover;*/

}

.main-image2{
  background-image:url(img/flow02.png);
  height:150px;
  background-size: 100% 100%;
  background-position: center;

}

.main-image3{
  background-image:url(img/flow03.png);
  height:150px;
  background-position: center;
  background-size: 100% 100%;

}

.footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA
}

@media screen and (max-width:768px){
  .header{
    width: 100%;
  }

  .number{
    background-color: green;
  }

  .main{
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main-box{
    width: 90%;
    margin: 0 auto 20px ;



  }

}